.vs/
.vscode/
.idea/

bin/
obj/

appsettings.Development.json
appsettings.Production.json

project.lock.json
project.fragment.lock.json
*.user
*.userosscache
*.suo
*.userprefs

.docker/

*.log
*.bak
*.swp

Thumbs.db
Desktop.ini

/packages/
