
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";


}


<!-- Overlay -->
<div class="overlay"></div>


<!-- Hero Section -->
<section class="hero-section">
    <div id="mainCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <!-- Slide 1 -->
            <div class="carousel-item active">
                <img src="~/Public/Images/slider1.jpg" class="d-block w-100" alt="Hotel View 1">
            </div>
            <!-- Slide 2 -->
            <div class="carousel-item">
                <img src="~/Public/Images/slider2.jpg" class="d-block w-100" alt="Hotel View 2">
            </div>
            <!-- Slide 3 -->
            <div class="carousel-item">
                <img src="~/Public/Images/slider3.jpg" class="d-block w-100" alt="Hotel View 3">
            </div>
            <!-- Slide 4 -->
            <div class="carousel-item">
                <img src="~/Public/Images/slider4.jpg" class="d-block w-100" alt="Hotel View 4">
            </div>
            <!-- Slide 5 -->
            <div class="carousel-item">
                <img src="~/Public/Images/slider5.jpg" class="d-block w-100" alt="Hotel View 5">
            </div>
        </div>
        <!-- Static Caption -->
        <div class="carousel-caption">
            <h1 class="">SOFITEL LEGEND<br>METROPOLE HÀ NỘI</h1>
        </div>
        <!-- Carousel Controls -->
        <button class="carousel-control-prev" type="button" data-bs-target="#mainCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#mainCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>
</section>